<?xml version="1.0"?>

<launch>
  <!-- global names and parameters -->
  <arg name="ns" default="/realsense/depth"/>
  <arg name="output" default="screen"/>

  <!-- start Rviz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find realsense_cam)/launch/realsense_cam.rviz"/>
  <node pkg="realsense_cam" name="realsense_cam" type="realsense_cam_node" output="$(arg output)">
    <param name="video_device" value="/dev/video2"/>
    <param name="pixel_format" value="yuyv"/>
    <remap from="realsense_cam/image_raw" to="$(arg ns)/image_raw"/>
    <remap from="realsense_cam/camera_info" to="$(arg ns)/camera_info"/>
  </node>

  <!-- Set up a nodelet infrastructure -->
  <node pkg="nodelet" type="nodelet" args="manager" name="realsense_nodelet_manager" output="$(arg output)"/>
  <node pkg="nodelet" type="nodelet" name="depth_to_disparity"
        args="load depth_image_proc/disparity realsense_nodelet_manager">
    <param name="min_range" value="0.0"/>
    <param name="max_range" value="2.0"/>
    <param name="delta_d" value="0.125"/>
    <param name="queue_size" value="5"/>
    <remap from="left/image_rect" to="$(arg ns)/image_raw"/>
    <remap from="right/camera_info" to="$(arg ns)/camera_info"/>
    <remap from="left/disparity" to="$(arg ns)/disparity"/>
  </node>
  <node pkg="nodelet" type="nodelet" name="depth_to_pointcloud"
        args="load depth_image_proc/point_cloud_xyz realsense_nodelet_manager">
    <param name="queue_size" value="5"/>
    <remap from="image_rect" to="$(arg ns)/image_raw"/>
    <remap from="camera_info" to="$(arg ns)/camera_info"/>
    <remap from="points" to="$(arg ns)/points"/>
  </node>

</launch>
