<?xml version="1.0"?>

<launch>
  <!-- Global names and parameters -->
  <arg name="ns" default="/realsense"/>
  <arg name="output" default="screen"/>
  <arg name="base_link" default="world"/>
  <arg name="link_prefix" default="realsense"/>
  <arg name="rgb_device" default="/dev/video1"/>
  <arg name="depth_device" default="/dev/video2"/>

  <!-- Start Rviz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find realsense_cam)/launch/realsense_cam.rviz"/>
  <!-- Depth publisher -->
  <node pkg="realsense_cam" name="realsense_depth_cam" type="realsense_cam_node" output="$(arg output)">
    <param name="video_device" value="$(arg depth_device)"/>
    <param name="camera_name" value="realsense_depth_camera"/>
    <param name="camera_frame_id" value="$(arg link_prefix)_depth_optical_frame"/>
    <param name="camera_info_url" value="package://realsense_cam/calibration/realsense_depth_calibration.yaml"/>
    <remap from="~/image_raw" to="$(arg ns)/depth/image_raw"/>
    <remap from="~/camera_info" to="$(arg ns)/depth/camera_info"/>
  </node>
  <!-- RGB publisher -->
  <node pkg="usb_cam" name="realsense_rgb_cam" type="usb_cam_node" output="$(arg output)">
    <param name="video_device" value="$(arg rgb_device)"/>
    <param name="camera_name" value="realsense_rgb_camera"/>
    <param name="camera_frame_id" value="$(arg link_prefix)_rgb_optical_frame"/>
    <param name="pixel_format" value="yuyv"/>
    <param name="camera_info_url" value="package://realsense_cam/calibration/realsense_rgb_calibration.yaml"/>
    <remap from="~/image_raw" to="$(arg ns)/rgb/image_raw"/>
    <remap from="~/camera_info" to="$(arg ns)/rgb/camera_info"/>
  </node>

  <!-- Set up a nodelet infrastructure -->
  <node pkg="nodelet" type="nodelet" args="manager" name="realsense_nodelet_manager" output="$(arg output)"/>
  <!-- Rectify color and depth images -->
  <node pkg="nodelet" type="nodelet" name="realsense_depth_rectify"
        args="load image_proc/rectify realsense_nodelet_manager">
    <param name="queue_size" value="5"/>
    <remap from="image_mono" to="$(arg ns)/depth/image_raw"/>
    <remap from="camera_info" to="$(arg ns)/depth/camera_info"/>
    <remap from="image_rect" to="$(arg ns)/depth/image_rect"/>
  </node>
  <node pkg="nodelet" type="nodelet" name="realsense_rgb_rectify"
        args="load image_proc/rectify realsense_nodelet_manager">
    <param name="queue_size" value="5"/>
    <remap from="image_mono" to="$(arg ns)/rgb/image_raw"/>
    <remap from="camera_info" to="$(arg ns)/rgb/camera_info"/>
    <remap from="image_rect" to="$(arg ns)/rgb/image_rect"/>
  </node>

  <!-- Publish disparity image -->
  <node pkg="nodelet" type="nodelet" name="realsense_depth_to_disparity"
        args="load depth_image_proc/disparity realsense_nodelet_manager">
    <param name="min_range" value="0.0"/>
    <param name="max_range" value="2.0"/>
    <param name="delta_d" value="0.125"/>
    <param name="queue_size" value="5"/>
    <remap from="left/image_rect" to="$(arg ns)/depth/image_rect"/>
    <remap from="right/camera_info" to="$(arg ns)/depth/camera_info"/>
    <remap from="left/disparity" to="$(arg ns)/depth/disparity"/>
  </node>
  <!-- Publish pointcloud -->
  <node pkg="nodelet" type="nodelet" name="realsense_depth_to_pointcloud"
        args="load depth_image_proc/point_cloud_xyz realsense_nodelet_manager">
    <param name="queue_size" value="5"/>
    <remap from="image_rect" to="$(arg ns)/depth/image_rect"/>
    <remap from="camera_info" to="$(arg ns)/depth/camera_info"/>
    <remap from="points" to="$(arg ns)/depth/points"/>
  </node>

  <!-- Put static transform publisher (to view point cloud in Rviz) -->
  <node pkg="tf" type="static_transform_publisher" name="realsense_static_tf_$(arg link_prefix)_link" args="0 0 0.018 0 -0.2 0 $(arg base_link) $(arg link_prefix)_link 50"/>
  <node pkg="tf" type="static_transform_publisher" name="realsense_static_tf_$(arg link_prefix)_df" args="0 -0.023 0 0 0 0 1 $(arg link_prefix)_link $(arg link_prefix)_depth_frame 50"/>
  <node pkg="tf" type="static_transform_publisher" name="realsense_static_tf_$(arg link_prefix)_rf" args="0 0 0 0 0 0 1 $(arg link_prefix)_link $(arg link_prefix)_rgb_frame 50"/>
  <node pkg="tf" type="static_transform_publisher" name="realsense_static_tf_$(arg link_prefix)_dof" args="0 0 0 -0.5 0.5 -0.5 0.5 $(arg link_prefix)_depth_frame $(arg link_prefix)_depth_optical_frame 50"/>
  <node pkg="tf" type="static_transform_publisher" name="realsense_static_tf_$(arg link_prefix)_rof" args="0 0 0 -0.5 0.5 -0.5 0.5 $(arg link_prefix)_rgb_frame $(arg link_prefix)_rgb_optical_frame 50"/>
</launch>
